* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("../imagenes/fondo-home.jpg");
  background-size: cover;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  height: auto;
  width: 500px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 1);
  border-radius: 2%;
  overflow: hidden;
}

.logo {
  width: 100%;
  background: rgba(0,0,0,1);
  font-size: 5vh;
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: white;
}

h1 {
  margin-top: 20px;
  text-align: center;
  color: black;
  font-size: 35px;
}

.contenedor {
  width: 90%;
  padding: 15px;
  margin: 0 auto;
}
.initial-description p {
display: flex;
flex-direction: column;
text-align: left;
margin-top: 10px;
margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  font-size: 18px;
  width: 85%;
  height: 30px;
  padding: 10px;
  border: none;
}

.input-contenedor {
  margin-bottom: 15px;
  border:1px solid #C0C0C0;
  border-radius: 6px;
  color: #999;
}

.input-contenedor i {
  margin-left: 10px;
}

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: black;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #999;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
}

.description p {
  margin-bottom: 15px;
}

.description a {
  color: black;
}

.link {
color: #999999 !important;
font-weight: 600;
}
